.advice {
    display: flex;

    &__form {
        width: 53%;
        padding: rem(48px) rem(52px) rem(45px) rem(45px);

        .form {
            &__control {
                text-align: right;
                margin-bottom: 0;
            }
        }

        .styled-select {
            margin-top: rem(12px);
            text-transform: uppercase;
        }
    }

    &__content {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 47%;
        padding: rem(32px);
        background: url("images/advice-form-bg.jpg") no-repeat center/cover;
    }

    &__title {
        font-size: rem(24px);
        text-transform: uppercase;
    }
}

@media (max-width: $screen-sm-max) {
    .advice {
        &__form {
            width: 100%;

            .form {
                &__control {
                    text-align: center;
                }
            }
        }

        &__content {
            display: none;
        }
    }
}

@media (max-width: $screen-sm-max - 200px) {
    .advice {
        &__form {
            padding: rem(30px);
        }
    }
}