.calculation-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 rem(60px) rem(30px);

    &__item {
        width: 30%;
        margin-bottom: rem(45px);

        &.--place {
            .ui-selectmenu-button {
                color: #c34031;

                .ui-icon {
                    background-image: url("data:image/svg+xml;utf8;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iaXNvLTg4NTktMSI/Pgo8IS0tIEdlbmVyYXRvcjogQWRvYmUgSWxsdXN0cmF0b3IgMTguMS4xLCBTVkcgRXhwb3J0IFBsdWctSW4gLiBTVkcgVmVyc2lvbjogNi4wMCBCdWlsZCAwKSAgLS0+CjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgdmVyc2lvbj0iMS4xIiBpZD0iQ2FwYV8xIiB4PSIwcHgiIHk9IjBweCIgdmlld0JveD0iMCAwIDMxNC41IDMxNC41IiBzdHlsZT0iZW5hYmxlLWJhY2tncm91bmQ6bmV3IDAgMCAzMTQuNSAzMTQuNTsiIHhtbDpzcGFjZT0icHJlc2VydmUiIHdpZHRoPSIxNnB4IiBoZWlnaHQ9IjE2cHgiPgo8Zz4KCTxnPgoJCTxwYXRoIGQ9Ik0zMTQuNSw5MC41YzAsNi0yLDEzLTcsMThsLTEzMywxMzNjLTUsNS0xMCw3LTE3LDdzLTEyLTItMTctN2wtMTMzLTEzM2MtMTAtMTAtMTAtMjUsMC0zNSAgICBzMjQtMTAsMzQsMGwxMTYsMTE2bDExNi0xMTZjMTAtMTAsMjQtMTAsMzQsMEMzMTIuNSw3OC41LDMxNC41LDg0LjUsMzE0LjUsOTAuNXoiIGZpbGw9IiNjMzQwMzEiLz4KCTwvZz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8L3N2Zz4K");
                }
            }
        }

        &.total {
            text-align: right;
        }
    }

    label {
        display: block;
        margin-bottom: rem(20px);
        font-size: rem(17px);
    }

    .ui-selectmenu {
        &-button {
            width: auto !important;
            display: inline-block;
        }

        &-text {
            font-size: rem(27px);
        }
    }

    &__checkboxes-wrap {
        display: flex;
        padding: rem(10px) 0;

        label {
            margin: 0 rem(25px) 0 0;
        }
    }

    &__total {
        font-size: rem(28px);
        color: #f15f18;
        border-bottom: 1px solid #e4e4e4;
        display: block;
        padding-bottom: 5px;
    }

    .period-slider {
        margin: rem(-8px) 0 rem(15px);

        &__view {
            display: block;
            font-size: rem(25px);
            color: #c34031;
            margin-bottom: rem(15px);
        }

        &__inner {
            position: relative;

            &:before {
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                height: 100%;
                background: #c34031;
                z-index: 1;
            }

            &[data-step="1"] {
                &:before {
                    width: 0;
                }
            }

            &[data-step="2"] {
                &:before {
                    width: 33.3333%;
                }

                .round1 {
                    background: #c34031;
                }
            }

            &[data-step="3"] {
                &:before {
                    width: 66.6667%;
                }

                .round1 {
                    background: #c34031;
                }

                .round2 {
                    background: #c34031;
                }
            }

            &[data-step="4"] {
                &:before {
                    width: 100%;
                }

                [class^="round"] {
                    background: #c34031;
                }
            }
        }

        [class^="round"] {
            position: absolute;
            width: 10px;
            height: 10px;
            left: 0;
            top: 50%;
            margin-top: -5px;
            margin-left: -5px;
            background: #e4e4e4;
            border-radius: 50%;
            cursor: pointer;
            z-index: 2;
        }

        .round2 {
            left: 33.3333%;
        }

        .round3 {
            left: 66.6667%;
        }

        .round4 {
            left: 100%;
        }

        .ui-slider {
            border: none;
            height: 4px;
            background: #e4e4e4;

            .ui-slider-handle {
                border: 4px solid #e4e4e4;
                border-radius: 50%;
                background: #c34031;
                font-weight: normal;
                cursor: pointer;
                outline: none;
                width: 18px;
                height: 18px;
                top: 50%;
                margin-top: -9px;
                margin-left: -9px;
                transition: border-width .13s ease;

                &.ui-state-hover,
                &.ui-state-active {
                    border-width: 2px;
                }
            }
        }
    }
}

@media (max-width: $screen-lg-max) {
    .calculation-form {
        justify-content: space-around;

        &__item {
            width: 35%;
        }
    }
}

@media (max-width: $screen-md-max) {
    .calculation-form {
        margin: 0 0 rem(30px);

        label {
            margin-bottom: rem(10px);
        }

        &__item {
            margin-bottom: rem(25px);
        }
    }
}

@media (max-width: $screen-sm-max) {
    .calculation-form {
        &__item {
            margin-left: auto;
            margin-right: auto;
            width: 300px;
        }
    }
}