.form {
    &__group {
        margin-bottom: rem(32px);
        position: relative;

        &:before {
            content: "";
            height: 1px;
            position: absolute;
            left: 50%;
            right: 50%;
            bottom: 0;
            background-color: $color-accent;
            will-change: left, right;
            transition: all .15s ease-in;
        }

        label {
            display: block;
            font-size: rem(15.24px);
            color: #333333;
            transition: color .2s ease-in;
        }

        input {
            font-size: rem(14px);
            display: block;
            width: 100%;
            border: none;
            border-bottom: 1px solid rgba(51, 51, 51, 0.50);
            height: rem(26px);

            &:required{
                &:invalid {
                    outline: none;
                }
            }
        }

        textarea {
            display: block;
            margin-top: rem(16px);
            resize: none;
            border: 1px solid rgba(51, 51, 51, 0.50);
            border-radius: 3px;
            width: 100%;
            min-height: rem(130px);
            padding: rem(6px) rem(10px);
            transition: border-color .2s ease-in;

            &:required{
                &:invalid {
                    outline: none;
                }
            }
        }

        .ui-selectmenu-button {
            color: #333333;
            text-transform: uppercase;
            width: auto !important;
            display: inline-block;
            height: rem(28px);
            line-height: rem(28px);
            margin-top: rem(10px);
        }

        &.--input-focused,
        &.--textarea-focused {
            label {
                color: $color-accent;
            }
        }

        &.--input-focused {
            &:before {
                left: 0;
                right: 0;
            }
        }

        &.--select-focused {
            &:before {
                left: 0;
                right: 0;
            }
        }

        &.--textarea-focused {
            textarea {
                border-color: $color-accent;
            }
        }

        &.--select {
            margin-bottom: rem(18px);
        }
    }

    &__success-tooltip,
    &__error-tooltip {
        margin: rem(25px) 0 0;
        padding: rem(12px);
        border: 1px solid;
        border-radius: 3px;
        text-align: center;
        font-size: rem(14px);
        user-select: none;
    }

    &__success-tooltip {
        color: green;
    }

    &__error-tooltip {
        color: red;
    }

    .form-submit {
        margin: rem(40px) 0;
    }
}