.list-socials {
    display: flex;
    align-items: center;
    justify-content: center;

    &__item {
        margin: 0 5px;

        &__profile {
            text-decoration: none;
            width: rem(33px);
            height: rem(33px);
            display: block;

            &.in {
                background: url("images/icon-in.svg") no-repeat center/cover;
            }

            &.fb {
                background: url("images/icon-fb.svg") no-repeat center/cover;
            }

            &.tg {
                background: url("images/icon-tg.svg") no-repeat center/cover;
            }
        }
    }
}