.order-button {
    display: none;
}

@media (min-width: 0) {
    .order-button {
        display: inline-block;
        font-size: rem(12px);
        font-weight: $font-weight-bold;
        background: transparent;
        box-shadow: 0 rem(11px) rem(25px) 0 rgba(0, 0, 0, 0.28);
        border: 1px solid #ffffff;
        min-width: rem(174px);
        height: rem(31px);
        line-height: rem(30px);

        &:hover {
            box-shadow: 0 rem(13px) rem(29px) 0 rgba(0, 0, 0, 0.30);
            color: #ffffff;
        }

        &:focus {
            color: #ffffff;
        }
    }
}