.order-button-mobile {
    @include font-size(14px);
    font-weight: $font-weight-bold;
    background: transparent;
    box-shadow: 0 11px 25px 0 rgba(0, 0, 0, 0.28);
    border: 1px solid #ffffff;
    min-width: 200px;
    height: 44px;
    line-height: 44px;

    &:hover {
        box-shadow: 0 13px 29px 0 rgba(0, 0, 0, 0.30);
    }
}