.section-promo {
    background: url("images/slide-bg-1.jpg") no-repeat top center/cover;
    padding: rem(115px) 0 calc(8vw + 15px);
    color: #ffffff;

    &__col {
        width: 40%;
    }

    &__logo {
        margin-bottom: rem(50px);

        img {
            max-width: rem(220px);
            margin: auto;
        }
    }

    &__title {
        @include font-size(30px);
        text-transform: uppercase;
        margin-bottom: 10px;
    }

    &__text {
        @include font-size(15.5px);
        line-height: 1.45;
        margin-bottom: rem(35px);
    }
}

@media (max-width: $screen-lg-max) {
    .section-promo {
        &__col {
            width: 50%;
        }
    }
}

@media (max-width: $screen-md-max) {
    .section-promo {
        &__col {
            width: 100%;
        }
    }
}

@supports (-ms-ime-align:auto) {
    .section-promo {
        padding-bottom: rem(50px);
    }
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .section-promo {
        padding-bottom: rem(50px);
    }
}