.section-achievements {
    background: url("images/slide-bg-5.jpg") no-repeat top center/cover;
    clip-path: polygon(0 8vw, 100% 0, 100% 100%, 0 100%);
    margin-top: -8vw;
    padding: 8vw 0 9vw;
}

@media (max-width: 991px) {
    .section-achievements {
        padding: 12vw 0;
    }
}