.section-rates {
    background: url("images/slide-bg-3.jpg") no-repeat center/cover;
    clip-path: polygon(0 8vw, 100% 0, 100% 100%, 0 100%);
    margin-top: -8vw;
    padding: calc(8vw + 15px) 0;

    &__header {
        text-align: center;
        margin-bottom: rem(20px);
        color: #ffffff;
    }

    &__title {
        text-transform: uppercase;
        margin-bottom: 0.75rem;
    }

    &__subtitle {
        text-transform: uppercase;
        font-size: rem(14px);
        font-weight: $font-weight-bold;
    }

    &__footer {
        text-align: center;
    }
}

@media (max-width: $screen-sm-max) {
    .section-rates {
        &__title {
            font-size: rem(40px);
        }

        &__subtitle {
            font-size: rem(13px);
        }
    }
}

@supports (-ms-ime-align:auto) {
    .section-rates {
        margin-top: 0;
        padding: rem(50px) 0;
    }
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .section-rates {
        margin-top: 0;
        padding: rem(50px) 0;
    }
}