.section-customers {
    background: url("images/section-customers-bg.jpg") no-repeat center/cover;
    padding: rem(25px) 0;

    &__header {
        text-align: center;
        margin-bottom: rem(30px);
    }

    &__title {
        text-transform: uppercase;
        color: #ffffff;
    }

    &__carousel {
        padding: 0 rem(75px);

        * {
            -webkit-backface-visibility: hidden;
        }

        .owl-stage-outer {
            margin-bottom: rem(28px);
        }

        .owl-item {
            height: rem(90px);
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                width: auto;
                max-height: 100%;
            }
        }

        .owl-dots {
            display: flex;
            justify-content: center;

            .owl-dot {
                margin: 0 rem(3px);
                width: rem(10px);
                height: rem(10px);
                border-radius: 50%;
                background: #ffffff;
                transition: all .2s ease;

                &.active {
                    cursor: default;
                    background: transparent;
                    box-shadow: inset 0 0 0 2px #ffffff;
                }
            }
        }
    }

    @include clearfix();
}

@media (max-width: $screen-sm-max) {
    .section-customers {
        &__title {
            font-size: rem(40px);
        }
    }
}
