.section-points {
    background: #ffffff;
    clip-path: polygon(0 8vw, 100% 0, 100% 100%, 0 100%);
    margin-top: -8vw;
    padding-bottom: rem(25px);
    position: relative;
    overflow: hidden;

    &__header {
        background: rgba(255, 255, 255, 0.5);
        z-index: 1;
        text-align: center;
        position: relative;
        padding: calc(8vw + 15px) 0 rem(20px);
        margin-bottom: rem(30px);
    }

    &__title {
        text-transform: uppercase;
        margin-bottom: rem(20px);
    }

    &__tabs {
        white-space: nowrap;

        &__item {
            border-radius: 4px;
            margin: rem(10px) rem(25px);
            min-width: rem(200px);
            letter-spacing: 0.3px;
            box-shadow: inset 0 0 0 1px #dddddd;
            background: #ffffff;
            color: $color-base;
            cursor: pointer;

            &:hover {
                box-shadow: inset 0 0 0 1px #dddddd;
            }

            &.status_active {
                color: #ffffff;
                cursor: default;
                box-shadow: none;
                background: linear-gradient(79deg, #de1b3d 0%, #f6720e 100%);
            }
        }
    }

    &.map_show {
        height: 100vh;
    }
}

@media (max-width: $screen-sm-max) {
    .section-points {
        &__header {
            margin-bottom: rem(20px);
        }

        &__tabs {
            &__item {
                margin: rem(10px);
                min-width: rem(160px);
            }
        }
    }
}


@supports (-ms-ime-align:auto) {
    .section-points {
        margin-top: 0;
        padding-bottom: rem(50px);

        &__header {
            padding-top: rem(50px);
        }
    }
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .section-points {
        margin-top: 0;
        padding: rem(50px) 0;
    }
}