.shopping-bag {
    display: flex;
    align-items: center;
    @include font-size(14px);
    font-weight: $font-weight-bold;

    &__icon {
        width: 21px;
        height: 15px;
        background: url("images/icon-cart.png") no-repeat center/contain;
    }

    &__title {
        text-transform: uppercase;
        color: #ffffff;
        margin: 0 6px;
    }

    &__amount {

        line-height: 20px;
        text-align: center;
        color: #db8522;
        width: 20px;
        height: 20px;
        background: #ffffff;
        border-radius: 50%;
    }
}