.site-nav {
    display: none;
}

@media (min-width: $screen-sm-min) {
    .site-nav {
        margin: 0 rem(5px);
        display: block;

        .menu {
            display: flex;

            .menu-item {
                a {
                    display: inline-block;
                    text-decoration: none;
                    white-space: nowrap;
                    font-size: rem(13px);
                    font-weight: $font-weight-bold;
                    text-transform: uppercase;
                    color: #ffffff;
                    letter-spacing: -0.3px;
                    height: rem(40px);
                    line-height: rem(40px);
                    padding: 0 rem(10px);
                    margin: 0 rem(5px);
                    transition: color .1s ease;
                    -webkit-tap-highlight-color: transparent;
                    user-select: none;

                    &:hover {
                        color: hsla(0, 0%, 100%, .5);
                    }
                }
            }
        }
    }
}