// Main colors
$color-base: #2a2a2a;
$color-accent: #e53430;

// Font configs
$font-size-base: 16px;
$font-line-height-base: 1.1875;

// Font families
$font-family-base: "Exo 2", sans-serif;

// Font weights
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 700;
$font-weight-black: 900;

// Base transition time
$transition-time: .13s 0s ease-in;