@font-face {
    font-family: "Exo 2";
    font-style: normal;
    font-weight: 300;
    src: url("fonts/Exo2.0/Light/exo2-light.woff2") format("woff2"),
    url("fonts/Exo2.0/Light/exo2-light.woff") format("woff");
}

@font-face {
    font-family: "Exo 2";
    font-style: normal;
    font-weight: 400;
    src: url("fonts/Exo2.0/Regular/exo2-regular.woff2") format("woff2"),
    url("fonts/Exo2.0/Regular/exo2-regular.woff") format("woff");
}

@font-face {
    font-family: "Exo 2";
    font-style: normal;
    font-weight: 700;
    src: url("fonts/Exo2.0/Bold/exo2-bold.woff2") format("woff2"),
    url("fonts/Exo2.0/Bold/exo2-bold.woff") format("woff");
}

@font-face {
    font-family: "Exo 2";
    font-style: normal;
    font-weight: 900;
    src: url("fonts/Exo2.0/Black/exo2-black.woff2") format("woff2"),
    url("fonts/Exo2.0/Black/exo2-black.woff") format("woff");
}